@charset "utf-8";
/* CSS Document */
body{ font-size:12px;padding:0px;margin:0px; background:url(images/cxy_bg.jpg) no-repeat 50% 50px; font-family: "微软雅黑","Microsoft yahei",Tahoma,Verdana,Arial,sans-serif;}
td,dl,dt,dd{line-height:25px;margin: 0px;padding: 0px;list-style-type: none;}
ul{list-style-type:none;}
ul li{padding:0px; margin:0px;}
img{border:none;}
*div,ul,img{margin:0;padding:0;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:active{ text-decoration:none;}
a:hover{ text-decoration:none;}


	.center{ width:1480px;margin: 0 auto;}
	.center_nav{ width:1480px; height:336px; position:relative;}
	.center_leftnav{ position:absolute; left:23px; top:91px; width:58px; height:58px;}
	.center_rightnav{position:absolute; right:23px; top:91px;width:58px; height:58px;}
	.center_leftnavbg1{ background:url(images/left_nav_new.png) no-repeat center;}
	.center_leftnavbg2{ background:url(images/left_navn_new.png) no-repeat center;}
	.center_rightnavbg1{ background:url(images/right_nav_new.png) no-repeat center; }
	.center_rightnavbg2{background:url(images/right_navn_new.png) no-repeat center;}
	.center_list{ width:1287px; height:336px; margin:0 auto; background:url(images/center_listbg.png) ; position:relative; overflow:hidden;}
	.center_list ul{ padding:0px; margin:0px; width:888888px; position:relative;}
	.center_list ul li{ width:287px; height:280px; margin:28px 0 0 28px; float:left;}
	.center_list ul li img{ width:287px; height:280px;}
	.center_bototm{ width:1580px; height:305px; margin:0 auto; position:fixed; background:#066; bottom:50px; left:50%; margin-left:-790px;}
	.center_bototm ul { padding:0px; margin:0px;}
	.center_bototm ul li{ width:316px; height:305px; float:left;color:#FFF;}
	.licontent{ width:290px; height:285px; margin:0 auto; margin-top:10px;}
	.lititle{ width:290px; height:45px;  font-weight:bold; border-bottom:5px solid #FFF;}
	.litxt{ width:290px; height:135px;}
	.titlenum{ font-size:32px;  margin-left:5px;}
	.titletitle{ font-size:22px;  margin-left:5px;}
	.titletitle a{ color: #ffffff}
	.txt_list{ width:145px; height:50px; float:left; text-align:center; font-size:22px; line-height:45px;padding-top: 15px}
    .txt_list a{ color: #ffffff}
    .bottom_img{ position:absolute; margin-top:-183px; left:50%; margin-left:-372px;width: 750px;}
	.lititlebg1{ background:#ff9999;}
	.lititlebg2{ background:#99ccff;}
	.lititlebg3{ background:#66cc99;}
	.lititlebg4{ background:#ffcc33;}
	.lititlebg5{ background:#cc99ff;}