body{ font-size:12px;padding:0px;margin:0px; background:none; font-family: "微软雅黑","Microsoft yahei",Tahoma,Verdana,Arial,sans-serif;}
	.center{ width:1080px; margin:0 auto;  }
	.col-md-9{ width:100%;}
		