body{ font-size:12px;padding:0px;margin:0px; background:url(../common/images/bg.jpg) repeat-x; font-family: "微软雅黑","Microsoft yahei",Tahoma,Verdana,Arial,sans-serif;}

@media screen and (max-width:1420px) {
	.center{ width:1020px; margin:0 auto; height:565px; margin-bottom:50px; margin-top:50px; position:relative;}
	.center_s{width:1020px; margin:0 auto; height:565px; overflow:hidden; position:relative;}
	.center_content{ width:135665px;}
		.center_list{ width:8888px; height:565px; float:left; position:absolute; left:0px; top:0px;}
			.center_list ul{ margin:0px; padding:0px;}
			.center_list ul li{ width:240px; height:565px; float:left; overflow-y:hidden;}
			.center_listspace{ width:20px; height:565px; float:left; }
			.center_listtxt{ width:240px; height:270px;}
				.center_listimg{ width:220px; height:220px; padding:10px;background:#FFF;}
				.center_listimg img{ width:220px; height:220px;}
				.center_listtitle{ width:240px; height:35px; margin:5px 0 0 0; background:#0099ff; line-height:35px; text-align:center; color:#FFF; font-size:16px;}
				.center_listtitle a{ color:#FFF;}
		.left_nav{ width:48px; height:57px; position:absolute; left:-55px; top:250px;}
				.left_navbg1{ background:url(../common/images/left_nav.png)}
				.left_navbg2{ background:url(../common/images/left_navn.png)}
			.right_nav{ width:48px; height:57px; position:absolute;right:-55px; top:250px;}
				.right_navbg1{background:url(../common/images/right_nav.png)}
				.right_navbg2{background:url(../common/images/right_navn.png)}
			.center_listtxtspace{ width:240px; height:15px;}
			.left_nav{ width:48px; height:57px; position:absolute; left:-55px; top:250px;}
			.right_nav{ width:48px; height:57px; position:absolute;right:-55px; top:250px;}
			.center_listspace{ width:20px; height:848px; float:left; }
}
@media (min-width: 1420px) {
	.center{ width:1530px; margin:0 auto; height:848px; margin-bottom:50px; margin-top:100px; position:relative;}
	.center_s{width:1530px; margin:0 auto; height:848px; overflow:hidden; position:relative;}
	.center_content{ width:135665px;}
		.center_list{ width:8888px; height:848px; float:left; position:absolute; left:0px; top:0px;}
			.center_list ul{ margin:0px; padding:0px;}
			.center_list ul li{ width:350px; height:848px; float:left; overflow-y:hidden;}
			
			.center_listtxt{ width:350px; height:405px;}
				.center_listimg{ width:330px; height:330px; padding:10px;background:#FFF;}
				.center_listimg img{ width:330px; height:330px;}
				.center_listtitle{ width:350px; height:40px; margin:5px 0 0 0; background:#0099ff; line-height:40px; text-align:center; color:#FFF; font-size:22px;}
				.center_listtitle a{ color:#FFF;}
		
				.left_navbg1{ background:url(../common/images/left_nav.png)}
				.left_navbg2{ background:url(../common/images/left_navn.png)}
			
				.right_navbg1{background:url(../common/images/right_nav.png)}
				.right_navbg2{background:url(../common/images/right_navn.png)}
			.center_listtxtspace{ width:240px; height:15px;}
						.left_nav{ width:48px; height:57px; position:absolute; left:-55px; top:300px;}
			.right_nav{ width:48px; height:57px; position:absolute;right:-55px; top:300px;}
			.center_listspace{ width:40px; height:848px; float:left; }
}
		