body{ font-size:12px;padding:0px;margin:0px; background:url(images/klt_contentbg.jpg) no-repeat center; font-family: "微软雅黑","Microsoft yahei",Tahoma,Verdana,Arial,sans-serif;}
@media screen and (max-width:1420px) {
		.center{ width:1050px; margin:0 auto; height:542px; margin-bottom:100px; padding:30px 0 0 0;}
		.left{ width:490px; height:498px; float:left; background:#fff; padding:10px;}
			.left_txt{ width:490px; height:498px; position:relative;}
			.left_txt img{ width:490px; height:498px;}
			.left_title{ width:490px; height:134px; background:#666; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8; position:absolute; left:0px; bottom:0px;}
			.left_title_f a{  width:490px; height:134px; display:block; line-height:120px; font-size:40px; color:#FFF; position:absolute; left:0px; bottom:0px; text-align:center; font-weight:bold; overflow:auto; z-index:1000;}
			.title_close{ position:absolute; bottom:120px; right:0px; color:#FFF; z-index:1005;}
		.right{ width:510px; height:518px; float:right; background:url(images/right_bg.png) no-repeat center; overflow-y:auto; overflow-x:hidden; position:relative;}
		.right_txt{ width:490px;  height:368px;color:#FFF; margin:80px 0 0 10px; overflow-x:hidden; overflow-y:auto;}
		.right_txt_sro{ width:470px; padding:10px;color:#FFF; font-size:16px; line-height:25px;overflow-x:hidden;}
				.page{width:520px; height:75px; float:left; margin:0 0 0 260px; display:inline;}
					.page_1{ width:115px; height:32px; background:#FFF; line-height:32px; color:#0099cc; text-align:center; float:left; margin:0 0 0 7px;}
					.page_2{ width:240px; height:42px; float:left;background:url(images/page_bg.png) center repeat-x;; line-height:42px; color:#0099cc;margin:0 0 0 10px;}
					.page_2 a{ width:25px; color:0099cc; height:42px; float:left; text-align:center;}
					.page_2 a:hover{ background:#ffcc66;}
	
}
@media (min-width: 1420px){
			.center{ width:1575px; margin:0 auto; height:813px; margin-bottom:100px; padding:30px 0 0 0;}
		.left{ width:735px; height:747px; float:left; background:#fff; padding:10px;}
			.left_txt{ width:735px; height:747px; position:relative;}
			.left_txt img{ width:735px; height:747px;}
			.left_title{ width:735px; height:201px; background:#666; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8; position:absolute; left:0px; bottom:0px;}
			.left_title_f a{  width:735px; height:201px; display:block; line-height:170px; font-size:80px; color:#FFF; position:absolute; left:0px; bottom:0px; text-align:center; font-weight:bold; overflow:auto; z-index:1000;}
			.title_close{ position:absolute; bottom:180px; font-size:18px; right:0px; color:#FFF; z-index:1005;}
		.right{ width:765px; height:777px; float:right; background:url(images/right_bg_1.png) no-repeat center; overflow-y:auto; overflow-x:hidden; position:relative;}
		.right_txt{ width:735px;  height:552px;color:#FFF; margin:120px 0 0 10px; overflow-x:hidden; overflow-y:auto;}
		.right_txt_sro{ width:705px; padding:15px;color:#FFF; font-size:24px; line-height:35px;overflow-x:hidden;}
				.page{width:780px; float:left; height:112px; margin:10px 0 0 250px;}
					.page_1{ width:140px; height:50px; background:#FFF; line-height:50px; color:#0099cc; text-align:center; float:left; margin:0 0 0 30px; font-size:22px;}
					.page_2{ width:520px; height:50px; float:left;background:url(../common/images/page_bg_2.png) center repeat-x;; line-height:42px; color:#0099cc;margin:0 0 0 40px;}
					.page_2 a{ width:35px; color:0099cc; height:50px; float:left; text-align:center; cursor:pointer; font-size:20px;}
					.page_2_bg{background:#ffcc66;}
					.page_2 a:hover{ background:#ffcc66;}
}